# Dependencies
node_modules

# Build outputs
dist
build
*.tsbuildinfo

# Logs
*.log

# OS files
.DS_Store

# Snap artifacts
*.snap

# Cache
.cache
coverage

# Environment files
.env
.env.local

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Changelog (don't format)
CHANGELOG.md
